/* To stick a button to a position:
   1. Use position: fixed; z-index: 9999;
   2. Use top or bottom to state the desired relative vertical position.
   3. Use left or right to state any desired relative horizontal position.
*/

.fixedLeftVertTop,
.fixedRightVertTop,
.fixedLeftVertCtr,
.fixedRightVertCtr
{
  position: fixed;  
  z-index: 898;  
}

.fixedLeftVertCtr,
.fixedRightVertCtr
{
  top: 40%;
  /*background-color: green;*/
} 

.fixedLeftVertTop,
.fixedRightVertTop
{
  /* Can't put 0% as top part of button bar will be pushed over the edge in IE. */
  top: 12%;
}

.fixedTopHoriCtr 
{
  top: 0%;
}

.fixedBottomHoriCtr 
{
  bottom: 0%;
}

.fixedTopHoriCtr,
.fixedBottomHoriCtr  
{
  z-index: 898;
  /*left: 32%; */
  /* Margin Centralization */
  margin: 0 auto;
}

.fixedLeftVertTop,
.fixedLeftVertCtr
{ 
  left: 0px;
  padding: 0px;
  text-align: left;
} 

.fixedRightVertTop,
.fixedRightVertCtr
{ 
  right: 0px;
  padding: 0px;
  text-align: right;
} 

.leftBorderlessBut,
.rightBorderlessBut,
.bottomBorderlessBut,
.leftSemiBut,
.rightSemiBut,
.fixedLeftVertTop,
.fixedRightVertTop,
.fixedLeftVertCtr,
.fixedRightVertCtr,
.hideBullet
{
  /* none: hide bullet */
  list-style-type: none;
} 

.leftSemiBut
{
  /* Make semi-circle. */
  /* Order of border radius: top-left, top-right, bottom-right, bottom-left */
  border-radius:         0 90px 90px 0;
  -webkit-border-radius: 0 90px 90px 0;
  -moz-border-radius:    0 90px 90px 0;
} 

.rightSemiBut
{
  /* Make semi-circle. */
  /* Order of border radius: top-left, top-right, bottom-right, bottom-left */ 
  border-radius:         90px 0 0 90px;
  -webkit-border-radius: 90px 0 0 90px;
  -moz-border-radius:    90px 0 0 90px;
} 

.topHoriSemiBut
{
  /* Make semi-circle. */
  /* Order of border radius: top-left, top-right, bottom-right, bottom-left */
  border-radius:         0 0 90px 90px;
  -webkit-border-radius: 0 0 90px 90px;
  -moz-border-radius:    0 0 90px 90px;   

  /* 
  If ul-li tags are used to wrapped a horizontal link (achor), then the display
  style must be inline instead inline-block or else the list will be vertical.
  Problem: with inline display, height and width have no effect.
  Solution: Use div-tag and table.    
  */
  /*display: inline;*/
  
  /* No background color so as to make it transparent. */
  /*background: green;*/  
}

.bottomHoriSemiBut
{
  /* Make semi-circle. */
  /* Order of border radius: top-left, top-right, bottom-right, bottom-left */
  border-radius:         90px 90px 0 0;
  -webkit-border-radius: 90px 90px 0 0;
  -moz-border-radius:    90px 90px 0 0;    

  /* 
  If ul-li tags are used to wrapped a horizontal link (achor), then the display
  style must be inline instead inline-block or else the list will be vertical.
  Problem: with inline display, height and width have no effect.
  Solution: Use div-tag and table.    
  */
  /*display: inline;*/
  
  /* No background color so as to make it transparent. */
  /*background: green;*/  
}

.leftBorderlessBut,
.rightBorderlessBut,
.roundedCornerBut, 
.leftSemiBut,
.rightSemiBut,
.topHoriSemiBut,
.bottomHoriSemiBut
{
  /* Use block so that the whole button area is clickable instead of just text-clickable. */
  display: block;
}

.leftBorderlessBut,
.rightBorderlessBut
{
  margin-bottom: 2px; 
}

.bottomBorderlessBut,
.leftSemiBut,
.rightSemiBut
{
  margin-bottom: 10px; 
}

.leftBorderlessBut,
.rightBorderlessBut,
.bottomBorderlessBut,
.leftSemiBut,
.rightSemiBut,
.vertCenterContainer, 
.topHoriSemiBut,
.bottomHoriSemiBut,
.horiCenterText
{
  text-align: center;    
}

.roundedCornerBut, 
.leftSemiBut,
.rightSemiBut,
.topHoriSemiBut,
.bottomHoriSemiBut, 
.borderSizeColor
{
  /*border: 2px solid #87CEEB;*/
  border: 2px solid gray;
  transition: border-color 0.3s ease-out, color 0.3s ease-out; 
}

.leftBorderlessBut,
.rightBorderlessBut,
.leftSemiBut,
.rightSemiBut,
.topHoriSemiBut,
.bottomHoriSemiBut
{
  /* No background color so as to make it transparent. */
  /*background: green;*/
}

.roundedCornerBut 
{  
  width: 70px;
  padding: 0px;
  border-radius: 10px;
  background-color: darkgray;
}

.leftBorderlessBut,
.rightBorderlessBut,
.leftSemiBut,
.rightSemiBut,
.relVertCenterContent
/* This style cannot be applied on bottomHoriSemiBut or else there is a space from bottom. */
{
  /* Align text vertically center. */
  position: relative;
  vertical-align: middle;
  
  /* IE: Vert-Center */
  top: 50%;
  -ms-transform: translateY(-50%);
}

.vertCenterContainer 
{
  /* 
    position must be absolute for left, right, top, bottom 
    positioning attributes to work. 
  */
  position: absolute;  
  top: 0; 
  bottom: 0; 
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: middle; 

  /* Safari, Chrome: Vert-Center */
  display: -webkit-flex;
  -webkit-align-items: center;
}

/* These hover and active block is to change the color of border. */
.leftBorderlessBut:hover,
.leftBorderlessBut:active, 
.rightBorderlessBut:hover,
.rightBorderlessBut:active, 
.roundedCornerBut:hover,
.roundedCornerBut:active, 
.bottomBorderlessBut:hover,
.bottomBorderlessBut:active,
.leftSemiBut:hover,
.leftSemiBut:active,
.rightSemiBut:hover,
.rightSemiBut:active,
.topHoriSemiBut:hover,
.topHoriSemiBut:active,
.bottomHoriSemiBut:hover,
.bottomHoriSemiBut:active
{
  color: #0000FF;
  border-color: #0000FF;
  transition: border-color 0.4s ease-in, color 0.4s ease-in;
}

.leftBorderlessBut,
.rightBorderlessBut,
.bottomBorderlessBut,
.leftSemiBut,
.rightSemiBut,
.topHoriSemiBut,
.bottomHoriSemiBut,
.defaultButWidthPx
{
  width:  45px;
}

.leftBorderlessBut,
.rightBorderlessBut,
.bottomHoriSemiBut,
.leftSemiBut,
.rightSemiBut,
.topHoriSemiBut,
.bottomHoriSemiBut,
.roundedCornerBut, 
.defaultButHeightPx
{
  /* 
    The line-height must be used together with height for  
    vertical centralisation of text to work. 
  */
  height: 45px;
  /* For perfect vertical alignment: line-height = height - border. */
  line-height: 45px;     
}

.leftBorderlessBut,
.rightBorderlessBut,
.bottomBorderlessBut,
.roundedCornerBut,
.leftSemiBut,
.rightSemiBut,
.topHoriSemiBut,
.bottomHoriSemiBut,
.pgNbrFont
{
  font-size: 16px;
  font-weight: bold;

  color: DarkBlue;
  /* 
  Some element like anchor tag comes with text decoration like underline. 
  Setting it to none will clear any default decoration.
  */
  text-decoration: none;
}
