/* 
   Customised styles for each book are to be put in customBookStyle while
   common shared styles are to be put in commonBudLib.css.
 */
 
.customBookStyle
{
  /* Any tags other than body-tag must not set font-size in px and instead they should use "em" as the unit of their font-size so that dynamic font size control feature can work. */
  font-size: 1.5em;
  
  /*Align text horizontally centre. */
  text-align: center; 
  display: block;
  
}
