.leftAlignedText    {text-align: left;}
.rightAlignedText   {text-align: right;}
.centerAlignedText  {text-align: center; display: block; left: 0; right: 0; margin: auto;}
   
.pageContainer,
.justifyAlignedText
{ 
  text-align: justify; display: block;
}

/* This style removes margin or gap from a html tag or element. */
.zeroSurroundSpace 
{
  margin:  0;
  padding: 0;
  border:  0;
  outline: 0;
}

/* Any tags other than body-tag must not set font-size in px and instead they should use "em" as the unit of their font-size so that dynamic font size control feature can work. */
h6 {font-size: 0.80em; font-weight: bold;}
h5 {font-size: 0.90em; font-weight: bold;}
h4 {font-size: 1.00em; font-weight: bold;}
h3 {font-size: 1.20em; font-weight: bold;}
h2 {font-size: 1.40em; font-weight: bold;}
h1 {font-size: 1.60em; font-weight: bold;}

p
{
  margin-top: 12px;
  margin-bottom: 12px;
}

.defText,
.defMarginPad 
{
  margin-top: 2px;
  margin-bottom: 2px;
}

.pageContainer 
{
  /* Need this margin-top to avoid page contents from overlapping with top menu bar.*/
  margin-top: 20px;
  
  /* These margins are to prevent contents from overlapping with left and right vert side bars. */
  margin-right: 26px; 
  margin-left:  26px; 
  
  border-radius: 5px;
  
  /*background: orange;*/
}

.shelfTitle
{
  text-align: left;
  margin-bottom: 0px;
  font-weight: bold;
  
  /* Any tags other than body-tag must not set font-size in px and instead they should use "em" as the unit of their font-size so that dynamic font size control feature can work. */
  font-size: 1.3em;
}

.pageTitle,
.bookTitle
{
  margin-bottom: 8px;
  text-decoration: underline;
  font-weight: bold;
  
  /* Any tags other than body-tag must not set font-size in px and instead they should use "em" as the unit of their font-size so that dynamic font size control feature can work. */
  font-size: 1.1em;
}

.paragraphTitleLeft,
.paragraphTitle
{
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: underline;
  font-weight: bold;
  
  /* Any tags other than body-tag must not set font-size in px and instead they should use "em" as the unit of their font-size so that dynamic font size control feature can work. */
  font-size: 1.0em;
}

.paragraphTitleLeft
{
  text-align: left;
}

.smallText
{  
  /* Any tags other than body-tag must not set font-size in px and instead they should use "em" as the unit of their font-size so that dynamic font size control feature can work. */
  font-size: 0.6em;
  /*color: white;*/
}

.smallLeftBookTitle
{
  text-align: left;
  
  /* Any tags other than body-tag must not set font-size in px and instead they should use "em" as the unit of their font-size so that dynamic font size control feature can work. */
  font-size: 0.8em;
}

.footNotes
{
  text-align: left;
  
  /* Any tags other than body-tag must not set font-size in px and instead they should use "em" as the unit of their font-size so that dynamic font size control feature can work. */
  font-size: 0.8em;
}

p,
.defText,
.bookTitle,
.justifyAlignedText,
.shelfTopBottomMargin,
.zeroBorOutPad
{
  border:  0;
  outline: 0;
  padding: 0;
}

/*
Sample: <div class="hortLeftAlignedImage"><img width="30px" src="images/smilingFace.jpg" /></div>
*/
.hortLeftAlignedImage,
.hortLeftBlk
{
  text-align: left;
  display: block;
} 

/*
Sample: <div class="hortRightAlignedImage"><img width="30px" src="images/smilingFace.jpg" /></div>
*/
.hortRightAlignedImage,
.hortRightBlk
{
  text-align: right;
  display: block;
} 

/* hortCenterAlignedImage was previously named as centerAlignedImage. */
/*
Sample: <div class="hortCenterAlignedImage"><img width="30px" src="images/smilingFace.jpg" /></div>
*/
.hortCenterAlignedImage
{
  left: 0; 
  right: 0; 
  margin: auto; 
  text-align: center;
  display: block;
} 

.wholeImage, 
.hortLeftAlignedImage,
.hortRightAlignedImage,
.hortCenterAlignedImage,
.hortVertCenterAlignedWholeImage 
{
  border-radius: 10px;
}

/* This vertCenterTxt does not work; may have pre-conditions to get it working. */
.vertCenterTxt
{
  vertical-align: middle;
}

.pageTitle,
.bookTitle,
.paragraphTitle,
.hortCenterTxt
{
  margin: auto; 
  text-align: center; 
}

.hortVertCenterAlignedWholeImage,
.hortCenterBlk
{
  /* In this test-css-table.html example, the position must be set to relative instead of absolute. */
  /* However in slkrmy elib app, the position must be set to absolute. */
  position: relative;
  
  left: 0; 
  right: 0; 
  margin: auto; 
  text-align: center;
}

/* elib, epub, html: Comment out.*/
/* epub, html: Even though vert centering works, it may push out an extra blank page. */
.hortVertCenterAlignedWholeImage,
.vertCenterBlk
{ 
  /*
  position: relative;
  
  top: 50%;    
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  */
}

.vertTopBlk 
{
  position: relative;
  top: 0%;    
  -webkit-transform: translateY(-0%);
  -ms-transform: translateY(-0%);
  transform: translateY(-0%);

}

.vertBottomBlk 
{
  position: relative;
  top: 100%;    
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.centerMargin
{
  margin:0 auto;
}

/* 
<p>
  The purpose of max-width and max-height is to make the image automatically  
  resizes according to the width and height of a screen (responsive UI). 
  The pre-condition is that the img html tag must be the child of a html tag 
  which is fluid, e.g: <div class="container-fluid"> (The container-fluid style
  is a CSS style of bootstrap). 
</p>
*/
img 
{
  max-width: 100%;
  max-height: 100%;
}

.pageContainer 
{
  /* elib, epub: 85vh has been chosen because it will not bring up vertical scrollbar on short pages. */
  height: 85vh;
}

body,
.defText
{
  text-align: justify;
  font-family: sans-serif;
}

a,
body,
.smallLeftBookTitle,
.defTextColor
{
  color: black;
}

.linkIcon
{
  width: 14px;
}

/* The value for height view port (vh) for this class must be less than the view port of a parent. */
/* elib, epub: 65vh has been chosen for an image displayed on a page with no other object; 35 vh is kept for buffer. */
.wholeImage 
{
  height: 65vh;
}

/*
This hortVertCenterAlignedWholeImage class is obsolete already; use wholeImage instead.  
Apply this hortVertCenterAlignedWholeImage css class onto img tag for
the picture which is to be shown wholely on a screen. Usage Example: 
<div class="hortCenterBlk">
  <img class="hortVertCenterAlignedWholeImage" src="../Images/art_of_giving_coverpage.jpg"/>
</div>
*/
.hortVertCenterAlignedWholeImage 
{
  /* The value for height view port (vh) for hortVertCenterAlignedWholeImage must be less than the view port of overall the parent container. */
  /* elib, epub: The perfect match is container=85vh and hortVertCenterAlignedWholeImage=65vh as vertical bar is not shown. */
  /* elib, epub: 65vh */
  height: 65vh;
}

/*
Dhammakami eLibray Font Size Control:
In order to provide dynamic font size control feature, body tag must serve as the overall parent for all other tags and it is to set the default font size. Other tags must not set font-size in px and instead they should use "em" as the unit of their font-size. The em unit will take parent font size as reference. For example if the font size of body tag, our parent tag, is set to 12px and that of h3 tag is set to 3em, then the font size of h3 in px will be 36px (3 times 12). 
*/
body,
.defBodyStyle
{
  /* elib: The font-size is required in DK elib only. */
  /* epub: Comment out. When used in epub, comment this out so that auto-font adjustment of epub readers can work. */
  /*font-size: 14px;*/
}

