/* To have vertical bar stretching from top to bottom of a web 
   page, the height of html and body tags must be made 100%.
*/
html, body {
  height: 100%;
}

/* To remove margin or gap from four edges of a page. */
.noMarginPad {
  margin:  0;
  padding: 0;
}

.leftVertBar, 
.rightVertBar, 
.topHortBar, 
.bottomHortBar {
  position: fixed;
  z-index: 898;
}

.leftVertBar, 
.rightVertBar 
{
  top: 0;
  height: 100%;
}

.leftVertBar {
  left: 0;
  /*background: red;*/
}

.rightVertBar {
  right: 0;
  /*background: green;*/
}

.topHortBar, 
.bottomHortBar 
{
  width: 100%;
}

.topHortBar {
  top: 0;
  /*Specify left:0 or else it will be relative to its container and resulted in it being pushed to the right.*/
  left: 0;  
  /*background: yellow;*/
}

.bottomHortBar {
  bottom: 0;
  /*Specify left:0 or else it will be relative to its container and resulted in it being pushed to the right.*/
  left: 0;
  /*background: purple;*/
}

#showOnHoverMenuHolder > #showOnHoverMenu {
  visibility: hidden;
  opacity: 0;
  transition: visibility         0s linear 0.5s,opacity 0.5s linear;
  -webkit-transition: visibility 0s linear 0.5s,opacity 0.5s linear;
  -moz-transition: visibility    0s linear 0.5s,opacity 0.5s linear;
  -ms-transition: visibility     0s linear 0.5s,opacity 0.5s linear;
  -o-transition: visibility      0s linear 0.5s,opacity 0.5s linear;
}

#showOnHoverMenuHolder:focus > #showOnHoverMenu,
#showOnHoverMenuHolder:hover > #showOnHoverMenu 
{
  visibility: visible;
  opacity: 1;
  transition-delay:         0s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay:    0s;
  -ms-transition-delay:     0s;
  -o-transition-delay:      0s;
}

.leftVertBar, 
.rightVertBar, 
.defaultBarWidthPx
{
  width: 26px;
}

.topHortBar, 
.defaultBarHeightPx
{
  height: 26px;
}

.bottomHortBar 
{
  /* For elib-slider in non-IE browser,  requires at least 32px. */
  
  /* Whenever this height is changed, the width of bottomHoriSemiBut in hover-hide-menu-vert-hort.css must also be changed to match this value. */
  height: 45px;
}

/* http://keithclark.co.uk/articles/moving-ie-specific-css-into-media-blocks/ */
/* IE6/7/8 (courtesy of Keith Clarke) */
@media \0screen\,screen\9 
{
    /* We don't support IE6/7/8. */
}
/* IE8/9/10 (courtesy of Keith Clarke) */
@media screen\0 {
    /* We don't support IE8/9. */
}

/* IE10+ */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) 
{
  .bottomHortBar
  {
    /* In IE browser, elib-slider requires at least 72px. */
    height: 72px;
  }     
}