.leftAlignedText    { text-align: left;}
.rightAlignedText   { text-align: right;}
.centerAlignedText  { text-align: center; display: block;}

.pageContainer,
.justifyAlignedText
{ 
  text-align: justify; display: block;
}

/* This style removes margin or gap from a html tag or element. */
.zeroSurroundSpace 
{
  margin:  0;
  padding: 0;
  border:  0;
  outline: 0;
}

/* Any tags other than body-tag must not set font-size in px and instead they should use "em" as the unit of their font-size so that dynamic font size control feature can work. */
h6 {font-size: 0.80em; font-weight: bold;}
h5 {font-size: 0.90em; font-weight: bold;}
h4 {font-size: 1.00em; font-weight: bold;}
h3 {font-size: 1.10em; font-weight: bold;}
h2 {font-size: 1.20em; font-weight: bold;}
h1 {font-size: 1.30em; font-weight: bold;}

p
{
  margin-top: 12px;
  margin-bottom: 12px;
}

.defText,
.defMarginPad 
{
  margin-top: 2px;
  margin-bottom: 2px;
}

.pageContainer 
{
  /* Need this margin-top to avoid page contents from overlapping with top menu bar.*/
  margin-top: 20px;
  
  /* These margins are to prevent contents from overlapping with left and right vert side bars. */
  margin-right: 26px; 
  margin-left:  26px; 
  
  border-radius: 5px;
  
  /*background: orange;*/
}

.shelfTitle
{
  text-align: left;
  margin-bottom: 0px;
  font-weight: bold;
  
  /* Any tags other than body-tag must not set font-size in px and instead they should use "em" as the unit of their font-size so that dynamic font size control feature can work. */
  font-size: 1.3em;
}

.pageTitle,
.bookTitle
{
  text-align: center;
  margin-bottom: 8px;
  text-decoration: underline;
  font-weight: bold;
  
  /* Any tags other than body-tag must not set font-size in px and instead they should use "em" as the unit of their font-size so that dynamic font size control feature can work. */
  font-size: 1.1em;
}

.paragraphTitleLeft,
.paragraphTitle
{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: underline;
  font-weight: bold;
  
  /* Any tags other than body-tag must not set font-size in px and instead they should use "em" as the unit of their font-size so that dynamic font size control feature can work. */
  font-size: 1.0em;
}

.paragraphTitleLeft
{
  text-align: left;
}

.smallText
{  
  /* Any tags other than body-tag must not set font-size in px and instead they should use "em" as the unit of their font-size so that dynamic font size control feature can work. */
  font-size: 0.6em;
  color: white;
}

.smallLeftBookTitle
{
  text-align: left;
  
  /* Any tags other than body-tag must not set font-size in px and instead they should use "em" as the unit of their font-size so that dynamic font size control feature can work. */
  font-size: 0.8em;
}

.footNotes
{
  text-align: left;
  
  /* Any tags other than body-tag must not set font-size in px and instead they should use "em" as the unit of their font-size so that dynamic font size control feature can work. */
  font-size: 0.8em;
}

p,
.defText,
.bookTitle,
.justifyAlignedText,
.shelfTopBottomMargin,
.zeroBorOutPad
{
  border:  0;
  outline: 0;
  padding: 0;
}

/* 
<p>
  The purpose of max-width and max-height is to make the image automatically  
  resizes according to the width and height of a screen (responsive UI). 
  The pre-condition is that the img html tag must be the child of a html tag 
  which is fluid, e.g: <div class="container-fluid"> (The container-fluid style
  is a CSS style of bootstrap). 
</p>
*/
img 
{
  max-width: 100%;
  
  /* To avoid vertical scroll bar while displaying whole-page image, the value of max-height of img tag must be set to be the same as the value of height (in vh) of html, body and pageContainer css class. */
  max-height: 85%;
}

/*
Sample: <div class="hortLeftAlignedImage"><img width="30px" src="images/smilingFace.jpg" /></div>
*/
.hortLeftAlignedImage
{
  text-align: left;
  display: block;
} 

/*
Sample: <div class="hortRightAlignedImage"><img width="30px" src="images/smilingFace.jpg" /></div>
*/
.hortRightAlignedImage
{
  text-align: right;
  display: block;
} 

/* hortCenterAlignedImage was previously named as centerAlignedImage.*/
/*
Sample: <div class="hortCenterAlignedImage"><img width="30px" src="images/smilingFace.jpg" /></div>
*/
.hortCenterAlignedImage
{
  text-align: center;
  display: block;
} 

/*
The wholePageVertHortCenterAlignedImage must be applied to img-tag which must be wrapped within table-tr-td as shown below. 
The "centerMargin" is to centralised the image.
<table class="centerMargin"><tr><td>
  <img class="wholePageVertHortCenterAlignedImage" src="app/books/artOfGivingRathanasara/www/images/big-mountain-river.jpg" alt="big-mountain-river"/>
</td></tr></table>
*/
.wholePageVertHortCenterAlignedImage 
{
  text-align: center;
  margin:0 auto;  
  border-radius: 5px;
  display: block;
}

.linkIcon
{
  width: 16px;
}

.hortCenterBlk
{
  position: absolute;
  
  left: 0; 
  right: 0; 
  margin: auto; 
  text-align: center; 
}

.vertCenterBlk
{
  position: absolute;
  
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.hortCenterTxt
{
  text-align: center;
}

.vertCenterTxt
{
  vertical-align: middle;
}

.vertTopBlk 
{
  position: relative;
  top: 0%;    
  -webkit-transform: translateY(-0%);
  -ms-transform: translateY(-0%);
  transform: translateY(-0%);

}

.vertBottomBlk 
{
  position: relative;
  top: 100%;    
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.centerMargin
{
  margin:0 auto;
}

.wholePageVertHortCenterAlignedImage
{
  /* The value for height view port (vh) for wholePageVertHortCenterAlignedImage must be less than the view port of overall html, body and pageContainer. */
  /* When pageContainer=85vh and with wholePageVertHortCenterAlignedImage=(70,75vh), whole image is displayed in the view port but there is vertical scroll bar. */
  /* The perfect match is pageContainer=85vh and wholePageVertHortCenterAlignedImage=65vh as vertical bar is not shown. */
  height: 65vh;
}

html,
body,
.pageContainer 
{
  /* 85 has chosen because it will not bring up vertical scrollbar on short pages. */
  height: 85vh;
}

body,
.defText
{
  text-align: justify;
  font-family: sans-serif;
}

a,
body,
.smallLeftBookTitle,
.defTextColor
{
  color: black;
}

/*
Font Size Control:
In order to provide dynamic font size control feature, body tag must serve as the overall parent for all other tags and it is to set the default font size. Other tags must not set font-size in px and instead they should use "em" as the unit of their font-size. The em unit will take parent font size as reference. For example if the font size of body tag, our parent tag, is set to 12px and that of h3 tag is set to 3em, then the font size of h3 in px will be 36px (3 times 12). 
*/
body,
.defBodyStyle,
{
  font-size: 16px;
}


