.cssTable {
  display: table;
  border-collapse:collapse;
}

.cssTableRow {
  display: table-row;
}

.cssTableCell
{
  display: table-cell;
  /*border:#f0f0f0 1px solid;*/
        
  padding-left:5px;
  padding-right:5px;
  padding-top:0.5px;
  padding-bottom:0.5px;
}

